@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Bebas+Neue&family=Ceviche+One&family=Galada&family=Great+Vibes&family=Lobster&family=Open+Sans+Condensed:wght@300&family=Open+Sans:ital,wght@1,300&family=Parisienne&family=Roboto+Slab:wght@300;400&family=Rye&display=swap');

img {
    height: 50px;
    background-position: center;
    position: relative;
}

/* .titleBar {
    background-color: rgb(54, 74, 112);
    height: 100%; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

} */

body {
    background-image: url(./pictures/cloudyDay.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover center no-repeat;
}


.navbar {
    height: 200px; 
}


h2 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Arbutus', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Ceviche One', cursive;
    font-family: 'Galada', cursive;
}

h5 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 3.25rem;
    color:rgb(0, 0, 0)
}


.row,.column {
        border: 2px solid black; 
        border-radius: 20px; 
        margin: 5px;
        padding: 40px; 
        text-align: inherit; 
        background-color: rgb(110, 148, 212);
        display: inline-flex; 
}


.card-body {
    border: 2px solid black; 
    border-radius: 20px;
    margin: 40px;
    padding: 10px;  
    text-align: center; 
    background-color: rgb(106, 128, 170); 
}


.cities {
    width: 5px; 
}
